.sidebar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 64px;
    background-color: white;
}

.sidebar-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 74px;
    cursor: pointer;   
}
.sidebar-icons:hover{
    background-color: rgb(232, 232, 232);
}

.sidebar-icons img{
    width: 24px;
}
.sidebar div{
    font-size: 9px;
}